<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li>
        <a href="/work"><span class="glyphicon glyphicon-refresh"></span> View Another Volume</a>
      </li>

    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a id="volume-complete" href="#"><span class="glyphicon glyphicon-ok"></span> Volume Complete!</a>
      </li>
    </ul>
  </div>
</nav>
